@{
    ViewBag.Title = "Password Reset";
}
<div>
    <table>
        <td><img src="~/Content/Images/reset.png" /></td>
        <td class="rbac-formtitle">@ViewBag.Title<p class="rbac-formtitlesub">Reset Your Account Password</p></td>
    </table>
</div>
<hr />
<div class="form-group">
    <p style="font-size:20px;vertical-align:middle;text-indent:10px">Please check your email to reset your password.</p>
</div>
	
