@{
    ViewBag.Title = "Password Reset";
}

<div>
    <table>
        <td><img src="~/Content/Images/reset.png" /></td>
        <td class="rbac-formtitle">@ViewBag.Title<p class="rbac-formtitlesub">Reset Your Account Password</p></td>
    </table>
</div>
<hr />
<div class="form-group">
    <p><img src="~/Content/Images/info.jpg" /> The password has been successfully changed.  You can now @Html.ActionLink("login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) with your new password.</p>
</div>