@{
    ViewBag.Title = "Unauthorised Request";
}

<div>
    <table>
        <td><img src="~/Content/Images/noentry.jpg" /></td>
        <td>
            <h1><strong>Error 401 : Unauthorised Request</strong></h1>
            <h2>
                You do not have permission to access the requested resource due to security restrictions.
                In order to gain access, please speak to your system administrator...
            </h2>
        </td>

    </table>
</div>