@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1>
        @ViewBag.Title
    </h1>
    <p>This solution forms an ideal framework for any internet application that requires user authentication/authorization based around dynamic self-contained Roles Based Access Control (RBAC) that is specific to the application.</p>
    <p>The framework’s logic is driven by settings defined in the application’s configuration file.  Introducing settings into the application’s configuration file which drives the framework’s logic avoids the recompilation and redeployment of an application if one decides to change the behaviour of the framework.  It becomes a time consuming and costly affair when an application developer has to recompile and redeploy an application every time a change is required.  The framework has been designed with extendibility in mind enabling the addition of new functionality and/or the modification of existing functionality.</p>
    <p>The framework can be added to existing projects as well as new developments and once deployed, application roles/permissions will be self-maintaining and regulating via the application’s system administrator with little or no reliance on the application developer.</p>
</div>