@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Role Based Access Control (RBAC)</h1>
    <p class="lead">This solution forms an ideal framework for any internet application that requires user authentication/authorization based around dynamic self-contained Roles Based Access Control (RBAC) that is specific to the application.</p>
    <p><a href="http://www.codeproject.com/Articles/875547/Custom-Roles-Based-Access-Control-RBAC-in-ASP-NET" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>